h2 {
    text-align: center;
    color: hsl(201, 100%, 30%, 70%);
}

.createTodo {
    display: grid;
    background-color: rgba(170, 240, 240, 0.1);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

button {

    height: 30px;
    width: fit-content;
    margin: 5px;
    background-color: hsla(46, 100%, 54%, 0.8);
    border-radius: 10px;
    border-style: outset;



}

.createInput {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(190, 190, 245);
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border-style: none;
}